###########################################################################                                            
#   _____________   __   _____  _____ _____  _____ _____ _______ _____    #
#  |___  /  __ \ \ / /  / ____|/ ____|  __ \|_   _|  __ \__   __/ ____|   #
#     / /| |  | \ V /  | (___ | |    | |__) | | | | |__) | | | | (___     #
#    / / | |  | |> <    \___ \| |    |  _  /  | | |  ___/  | |  \___ \    #
#   / /__| |__| / . \   ____) | |____| | \ \ _| |_| |      | |  ____) |   #
#  /_____|_____/_/ \_\ |_____/ \_____|_|  \_\_____|_|      |_| |_____/    #
#                                                                         #
#                                                                         #
#                Resource Started Successfully                            #
#                    ZDX SCRIPTS © 2026                                   #
#                                                                         #
###########################################################################

# Only change the IP if you're using a server with multiple network interfaces, otherwise change the port only.
endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"

### Endpoints Privacy ###
sv_endpointPrivacy true

sv_hostname "Unconfigured | ZDX Framework Server"
set steam_webApiKey ""
sv_licenseKey ""
sv_maxclients 10   # Allow access to features usually locked behind a FiveM patreon key

sets sv_projectName "Unconfigured | ZDX Framework Server"
sets sv_projectDesc "The official recipe of the FiveM cinematic framework, containing Housing, Vehicles & more!"
sets tags "default, zdx, zdx scripts, legacy, official, cinematics"

sv_enforceGameBuild 3095 #mp2023_02 - The Chop Shop
set resources_useSystemChat true

set onesync on  # Enable OneSync [REQUIRED FOR LEGACY 1.7.5 +]
set mysql_connection_string "mysql://user:password@localhost/es_extended?waitForConnections=true&charset=utf8mb4"
set mysql_ui true

## Umcomment to set your own locale,
## if not, it will use the language you have selected in txAdmin.
#setr zdx:locale "en"

## These resources will start by default.
ensure chat
ensure spawnmanager
ensure hardcap

## Add system admins
add_principal group.admin group.user
add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit
add_ace resource.zdx_core command.add_ace allow
add_ace resource.zdx_core command.add_principal allow
add_ace resource.zdx_core command.remove_principal allow
add_ace resource.zdx_core command.stop allow
## Default & Standalone resources
ensure oxmysql

## ZDX
ensure [core]
ensure [zdx_addons]
ensure zdx_multicharacter
ensure ZDX_SpiderCam
ensure ZDX_scenedirector
ensure ZDX_loadingscreen